<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServiceControl/RavenAddress" value="http://localhost:33333/storage"/>
    <add key="Neo4j/Url" value="http://localhost:7474/db/data"/>
    <add key="Neo4j/User" value="[TODO]"/>
    <add key="Neo4j/Password" value="[TODO]"/>
    <add key="Neo4j/ImportLocation" value="e:\Learning\Neo4j DBs\import\"/>
    <add key="ContextHeaderName" value="[TODO]"/>
  </appSettings>
</configuration>