<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServiceControl/RavenAddress" value="http://localhost:44445"/>
    <add key="Neo4j/Url" value="http://localhost:7474/db/data"/>
    <add key="Neo4j/User" value="[TODO]"/>
    <add key="Neo4j/Password" value="[TODO]"/>
    <!--Neo4j import location: <neo4j-home>/import. More details in https://neo4j.com/docs/operations-manual/current/configuration/file-locations/ -->
    <add key="Neo4j/ImportLocation" value="[TODO]"/>
    <!--Can leave empty if you don't use custom audits-->
    <add key="ContextHeaderName" value=""/>
  </appSettings>
</configuration>